@charset "UTF-8";

body {
	background: #DCE1DE;
	font-family: cursive;
	margin: 0;
}

#nav {
	background: #216869;
	display: flex;
	max-height: 72px;
	overflow: hidden;
	position: fixed;;
	top: 0px;
	width: 100%;
}

#logo {
	max-height: 64px;
	padding: 4px 0;
	align-self: center;
}

.nav-button {
	background: inherit;
	border: none;
	color: #FFFFFF;
	font-family: inherit;
	font-size: 28px;
	font-weight: 500;
	height: inherit;
	margin: 0;
	padding: 0 16px;
}

.nav-button:hover {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	background-color: #49A078;
	cursor: pointer;
}

#nav-image {
	border-bottom-left-radius: 0;
}

#content {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 8px;
	margin-top: 88px;
}

.card {
	display: flex;
	height: 280px;
	margin: 4px;
	max-height: 280px;
	width: 95%;
}

.card-container {
	background: #216869;
	border-radius: 12px;
	display: inline-block;
	height: calc(100% - 16px);
	margin: 8px;
	width: 40%;
}

.card-text {
	display: inline-flex;
	flex-grow: 1;
	font-size: 40px;
	font-weight: 600;
	height: calc(100% - 16px);
	justify-content: center;
	align-content: center;
	flex-direction: column;
	margin: 0 8px;
	max-width: 60%;
	padding: 8px;
	text-align: left;
}

.card-text-right {
	text-align: right;
}
